/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
}

:root{
  --basis-lettertype: 'Ubuntu', sans-serif;
  --extra-lettertype: 'Oswald', sans-serif;
  --roze-accent-kleur: rgb(218, 162, 171);
  --blauwe-accent-kleur: rgb(157, 186, 179);
  --grijze-achtergrond: rgb(245, 245, 245);
  --grijze-border-kleur: rgb(238, 238, 238);
  --witte-basis-kleur: rgb(255, 255, 255);
  --zwarte-basis-kleur: rgb(0, 0, 0);
}





/*******************/
/* ALGEMENE OPMAAK */
/*******************/
p{
  font-family: var(--basis-lettertype);
  font-size: 1rem;
}

a{
  font-family: var(--basis-lettertype);
  font-size: 1rem;
}

h1{
  text-align: center;
  font-family: var(--extra-lettertype);
  text-transform: uppercase;
  font-size: 2.35rem;
  letter-spacing: .125rem;
  margin: 1.6rem 0 1.6rem 0;
}

h2{
  text-align: center;
  font-family: var(--extra-lettertype);
  text-transform: uppercase;
  font-size: 1.9rem;
  letter-spacing: .125rem;
  margin: 0 0 1rem 0;
}

h3{
  text-align: center;
  font-family: var(--extra-lettertype);
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .125rem;
  margin: 0 0 1rem 0;
}

h4{
  text-decoration: none;
  font-family: var(--extra-lettertype);
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .1rem;
  margin: 0 0 1rem 0;
}





/************************/
/* HEADER MET NAVIGATIE */
header{
  background-color: var(--witte-basis-kleur);
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 4px rgb(57 63 72 / 30%);

  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .3rem 1.2rem;
}

/* logo */
header > a:first-of-type{
  margin-right: auto ;
}

header > a:first-of-type img{
  width: 8.125rem;
}

header > a:nth-of-type(2) img{
  width: 1.5rem;
}

/* menu open button */
header > button{
  position: relative;
  width: 2rem;
  height: 3rem;
  padding: .75em;
  border: none;
  font-family: var(--basis-lettertype);
  font-size: .6em;
  /* positioneren van "menu" tekst */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* streepjes van hamburgermenu */
  background-color: transparent;
  background-image: linear-gradient(
    var(--zwarte-basis-kleur) 0px .125rem,
    transparent .125rem .56rem,
    var(--zwarte-basis-kleur) .56rem .68rem,
    transparent .68rem 1.125rem,
    var(--zwarte-basis-kleur) 1.125rem 1.25rem);
  background-size: 1.25rem 1.25rem;
  background-position: center .625rem;
  background-repeat: no-repeat;
}





/****************************/
/* UITGEKLAPT HAMBURGERMENU */
header nav{
  position: fixed;
  top: 0; 
  bottom: 0;
  left: 0; 
  right: 0;
  background-color: var(--roze-accent-kleur);
  transform-origin: center top;
  transform: scaleY(0);
  transition: .3s;
}

header nav ul{
  padding: 0;
  margin: 3rem 0 0 2.9rem;
}

header nav ul li{
  list-style-type: none;
  margin: 0 0 1.5rem 0;
  position: relative;
}

header nav ul li a{
  color: black;
  text-decoration: none;
  font-family: var(--extra-lettertype);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: .1rem;
}

header nav.uitgeklaptMenu{
  transform: scaleY(1);
}





/***************/
/* ZOEKEN ICON */
header nav > a{
  background-color: var(--witte-basis-kleur);
  display: flex;
  align-self: center;
  justify-content: center;
  width: 4.4rem;
  height: 4.06rem;
}

header nav > a img{
  width: 1.3rem;
}




/***********************/
/* MENU SLUITEN BUTTON */
header nav button{
  position: absolute;
  top: 1.2rem;
  right: 1.6rem;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

/* streepjes voor kruisje menu sluiten */
header nav button::before,
header nav button::after{
  content: "";
  position: absolute;
  width: 75%;
  height: 1px;
  background-color: var(--zwarte-basis-kleur);
}

/* schuinzetten van de streepjes */
header nav button::before{
  transform: rotate(45deg);  
}
header nav button::after{
  transform: rotate(-45deg);  
}

header nav ul li{
  list-style-type: none;
}

header nav ul li:nth-of-type(1) img{
  width: 8.125rem;
}

header nav ul li:nth-of-type(2) img{
  width: 1.5rem;
  margin: .75rem .625rem;
}





/**********/
/* FOOTER */
footer{
  margin-bottom: 3.5rem;
}

footer section nav{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
}

footer section nav ul{
  list-style-type: none;
  padding: 0;
  margin: 3rem 1.2rem 0 1.2rem;
}

footer section nav ul li a{
  text-decoration: none;
  font-family: var(--basis-lettertype);
  color: var(--zwarte-basis-kleur);
  font-size: .87rem;
  margin: 1.2rem 0;
  display: block;
}

footer section:nth-of-type(2) h3{
  font-size: 1.25rem;
  margin: 2.5rem 1.5rem 0 1.5rem;
  padding-top: 2rem;
  letter-spacing: .15rem;
  border-top: 1px solid var(--grijze-border-kleur);
}

footer section:nth-of-type(2) div{
  display: flex;
  justify-content: center;
  margin-top: .6rem;
}

footer section:nth-of-type(2) img{
  padding: .5rem;
  margin: .3rem;
}

#homepagina footer section:nth-of-type(2) img{
  background-color: var(--roze-accent-kleur);
}

#overzichtspagina footer section:nth-of-type(2) img{
  background-color: var(--blauwe-accent-kleur);
}





/*************************/
/* AANMELDEN NIEUWSBRIEF */
footer form {
  font-family: var(--basis-lettertype);
  margin: 2rem 1.2rem 0 1.2rem;
}

footer form p{
  font-size: .95rem;
  text-align: center;
  line-height: 1.7rem;
  margin-top: 3rem;
}

footer form input{
  font-family: var(--basis-lettertype);
  display: block;
  width: 100%;
  border: none;
}

footer form input:first-of-type{
  background-color: var(--grijze-achtergrond);
  padding: .4rem .6rem .4rem .6rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

footer form input:nth-of-type(2){
  font-family: var(--extra-lettertype);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .09rem;
  padding: .9rem .6rem .7rem .6rem;
  font-size: .75rem;
}

#homepagina footer form input:nth-of-type(2){
  background-color: var(--roze-accent-kleur);
}

#overzichtspagina footer form input:nth-of-type(2){
  background-color: var(--blauwe-accent-kleur);
}





/***************/
/* HOME PAGINA */
/***************/

/*****************************************/
/* INTRODUCTIE MET ACHTERGRONDAFBEELDING */
#homepagina main section:first-of-type{
  height: 21.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://plantrebelz.nl/wp-content/uploads/2021/02/Header-row-1-1.png);
  background-position: 70% 60%;
  padding: 1.75rem 0 7rem 0;
}

#homepagina main section:first-of-type p{
  display: block;
  margin: 0 1.2rem;
  width: 13rem;
  line-height: 1.7rem;
}

#homepagina main section:nth-of-type(1) p:nth-of-type(2){
  margin: .5rem auto .5rem 1.2rem;
}

#homepagina main section:nth-of-type(1) p em a{
  color: var(--zwarte-basis-kleur);
}

#homepagina main section:nth-of-type(1) a:nth-child(3){
  background-color: var(--zwarte-basis-kleur);
  color: var(--witte-basis-kleur);
  font-family: var(--basis-lettertype);
  font-size: .9rem;
  text-decoration: none;
  padding: .8rem 3.125rem .8rem 3.125rem;
  margin: 2rem 1.2rem 0 1.2rem;
  display: block;
  width: 12.5rem;
  transition: .5s;
}

#homepagina main section:nth-of-type(1) a:nth-child(3):hover{
  background-color: var(--roze-accent-kleur);
  color: var(--zwarte-basis-kleur);
}

#homepagina main section:nth-of-type(1) a:nth-child(3):active{
  border: 1px solid var(--roze-accent-kleur);
}





/***************/
/* ROZE BALKJE */
#homepagina main section:nth-of-type(2){
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--roze-accent-kleur);
  padding: .44rem;
  text-align: center;
}

#homepagina main section:nth-of-type(2) p{
  display: inline-block;
  font-size: .875rem;
}

#homepagina main section:nth-of-type(2) img{
  width: .875rem;
  height: .875rem;
  margin: .44rem;
}





/************************/
/* NAV MET AFBEELDINGEN */
#homepagina main section:nth-of-type(3){
  padding-top: 15%;
  padding-bottom: 15%;
}

#homepagina main section:nth-of-type(3) ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

#homepagina main section:nth-of-type(3) ul li{
  list-style: none;
  margin: 0;
}

#homepagina main section:nth-of-type(3) ul li a{
  display: flex;
  justify-content: center;
}

#homepagina main section:nth-of-type(3) ul li a img{
  width: 90%;
  max-width: 24rem;
  margin: .625rem 0 .625rem 0;
}





/********************/
/* VERZORGINGSVRAAG */
#homepagina main section:nth-of-type(4){
  background-color: var(--grijze-achtergrond);
  padding: 3.3rem 1.2rem 0 1.2rem;
  display: flex;
  flex-direction: column;
}

#homepagina main section:nth-of-type(4) > * { /*alle directe elementen behalve de section*/
  line-height: 1.8rem;
}

#homepagina main section:nth-of-type(4) h2{
  text-align: left;
  padding: 0 0 1rem 0;
}

#homepagina main section:nth-of-type(4) p:nth-of-type(2){
  font-weight: bold;
}


#homepagina main section:nth-of-type(4) img{
  width: 100%;
  margin: 1.5rem 0 0 0;
  line-height: 0;
  align-self: center;
}

#homepagina main section:nth-of-type(4) a:first-of-type{
  background-color: var(--zwarte-basis-kleur);
  color: var(--witte-basis-kleur);
  font-size: .9rem;
  text-decoration: none;
  padding: .4rem 3.125rem .4rem 3.125rem;
  margin: 2.5rem 1.2rem 2rem 0;
  display: block;
  width: 19rem;
  text-align: center;
  transition: .5s;
}

#homepagina main section:nth-of-type(4) a:first-of-type:hover{
background-color: var(--roze-accent-kleur);
color: var(--zwarte-basis-kleur);
}

#homepagina main section:nth-of-type(4) a:nth-of-type(2){
  color: var(--zwarte-basis-kleur);
}





/***********/
/* REVIEWS */
#homepagina main section:nth-of-type(5){
  background-color: var(--roze-accent-kleur);
  padding: 3.3rem 1.2rem 0 1.2rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#homepagina main section:nth-of-type(5) div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  animation-name: slideshow;
  animation-duration: 25s;

  animation-iteration-count: infinite;
}

#homepagina main section:nth-of-type(5) div article {
  min-width: calc(100vw - 2.4rem);
	padding: 1rem 0 1rem 0;
}

@keyframes slideshow {
	0% {
		transform: translateX(0);
	}
  20% {
    transform: translateX(0);
  }
	40% {
		transform: translateX(-100%);
	}
  60% {
    transform: translateX(-100%);
  }
  80% {
		transform: translateX(-200%);
	}
	100% {
		transform: translateX(-200%);
	}
}

#homepagina main section:nth-of-type(5) p{
  text-align: center;
  line-height: 1.8rem;
}

#homepagina main section:nth-of-type(5) p:nth-of-type(2){
  padding: 1.2rem 0 0 0;
}

#homepagina main section:nth-of-type(5) p:nth-of-type(3){
  padding: 1.2rem 0 0 0;
}

#homepagina main section:nth-of-type(5) a{
  background-image: url("https://plantrebelz.nl/wp-content/uploads/2021/01/2390.04.20-PRZ-Streep5-WEB-Roze-Donker-e1611784349429.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-family: var(--extra-lettertype);
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .07rem;
  padding: 2rem;
  text-align: center;
  color: var(--zwarte-basis-kleur);
  margin: 1rem 0 2rem 0;
  transition: .5s;
}

#homepagina main section:nth-of-type(5) a:hover{
  color: var(--witte-basis-kleur);
}





/*****************/
/* WIT BALKJE */
#homepagina main section:nth-of-type(6){
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem;
  text-align: center;
  border-bottom: 1px solid var(--grijze-border-kleur);
}

#homepagina main section:nth-of-type(6) p{
  display: inline-block;
  font-size: .81rem;
}

#homepagina main section:nth-of-type(6) img{
  width: .875rem;
  height: .875rem;
  margin: .44rem;
}





/******************/
/* STEKJES PAGINA */
/******************/

/**************************/
/* BOVENSTE BLAUWE BALKJE */
#overzichtspagina header section:first-of-type{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blauwe-accent-kleur);
  padding: .9rem;
  text-align: center;
}

#overzichtspagina header section p{
  display: inline-block;
  font-size: .8rem;
}





/*************************/
/* INTRODUCTIE PARAGRAAF */
#overzichtspagina main section:first-of-type p{
  text-align: center;
  margin: 0 1rem;
  line-height: 1.7rem;
}





/*************/
/* PRODUCTEN */
#overzichtspagina main section:nth-of-type(2) ul{
  margin: 0 1rem;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));

}

#overzichtspagina main section:nth-of-type(2) ul li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#overzichtspagina main section:nth-of-type(2) ul li img{
  width: 100%;
}

#overzichtspagina main section:nth-of-type(2) ul li a{
  text-decoration: none;
  font-family: var(--extra-lettertype);
  text-transform: uppercase;
  font-size: .91rem;
  letter-spacing: .1rem;
  color: var(--zwarte-basis-kleur);
  font-weight: bold ;
}

#overzichtspagina main section:nth-of-type(2) ul li p{
  display: block;
  font-size: .75rem;
  line-height: 1.25rem;
  text-align: center;
}

#overzichtspagina main section:nth-of-type(2) ul li button{
  background-color: var(--zwarte-basis-kleur);
  color: var(--witte-basis-kleur);
  font-size: .625rem;
  text-decoration: none;
  padding: .5rem .8rem .5rem .8rem;
  margin-top: .1rem;
  letter-spacing: .04rem;
  display: block;
  text-align: center;
  border: none;
  font-family: var(--basis-lettertype);
}

/* TABJES */
#overzichtspagina main section:nth-of-type(2) nav ol{
  padding: 0;
  margin: 4rem 0 2.5rem 0;
  display: flex;
  justify-content: center;
}

#overzichtspagina main section:nth-of-type(2) nav ol li{
  list-style-type: none;
}

#overzichtspagina main section:nth-of-type(2) nav ol li a{
  color: var(--zwarte-basis-kleur);
  text-decoration: none;
  padding: .56rem .9rem;
}

.active{
  background: var(--zwarte-basis-kleur);
  color: var(--witte-basis-kleur) !important;
  border-radius: 50%;
}





/**************/
/* INFORMATIE */
#overzichtspagina main section:nth-of-type(3){
  background-color: var(--grijze-achtergrond);
  padding: 3.3rem 1.2rem 3.3rem 1.2rem;
  display: flex;
  flex-direction: column;
}

#overzichtspagina main section:nth-of-type(3) > * { /*alle directe elementen behalve de section*/
  line-height: 1.8rem;
}

#overzichtspagina main section:nth-of-type(3) h2{
  text-align: left;
  padding: 0 0 1rem 0;
}





/********/
/* TIPS */
#overzichtspagina main section:nth-of-type(4){
  background-color: var(--blauwe-accent-kleur);
  padding: 2rem 1.2rem 0 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#overzichtspagina main section:nth-of-type(4) > * { /*alle directe elementen behalve de section*/
  line-height: 1.8rem;
}

#overzichtspagina main section:nth-of-type(4) h2{
  padding: 0;
  margin: 0;
  font-size: 2.2rem;
}

#overzichtspagina main section:nth-of-type(4) img{
  width: 100%;
  margin: 3.5rem 0 0 0;
  line-height: 0;
}

#overzichtspagina main section:nth-of-type(4) a{
  background-color: var(--zwarte-basis-kleur);
  color: var(--witte-basis-kleur);
  font-size: .8rem;
  text-decoration: none;
  padding: .5rem 2.3rem .5rem 2.3rem;
  margin-top: .1rem;
  display: block;
  text-align: center;
  font-family: var(--extra-lettertype);
  text-transform: uppercase;
  letter-spacing: .11rem;
  font-weight: bold;
}





/*****************/
/* WIT BALKJE */
#overzichtspagina main section:nth-of-type(5){
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem;
  text-align: center;
  border-bottom: 1px solid var(--grijze-border-kleur);
}

#overzichtspagina main section:nth-of-type(5) p{
  display: inline-block;
  font-size: .81rem;
}

#overzichtspagina main section:nth-of-type(5) img{
  width: .875rem;
  height: .875rem;
  margin: .44rem;
}